<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='FarmaMais.css') }}">
    <title>Ofertas do Momento</title>
</head>
<body>
     <div class="banner">
     <img src="imagens/LogoFarmaMais.png">
     <p>Venha conhecer as nossas melhores ofertas do momento!</p>
     </div>
   <div class="pesquisa">
      <input type="text" placeholder="Pesquisar produtos...">
      <button>🔍</button>
    </div>
    <br>
   
   <div class="banner ofertas">
     <img src="imagens/banner ofertas2.png">
    </div>
    <br>
      <div class="produtos">
       <div class="card">
        <img src="https://drogariavenancio.vtexassets.com/arquivos/ids/744895-800-450?v=637339347977870000&width=800&height=450&aspect=true" alt="Produto">
       <p class="preco"> R$ 9,99</p>
       <button class="btn-add">Adicionar</button>
        </div>
    </div>
</body>
</html>