<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='FarmaMais.css') }}">
    <title>Cosméticos</title>
</head>
<body>
     <div class="banner">
     <img src="imagens/LogoFarmaMais.png">
     <p>Venha conhecer as nossas melhores ofertas do momento!</p>
     </div>
   <div class="pesquisa">
      <input type="text" placeholder="Pesquisar produtos...">
      <button>🔍</button>
    </div>
    <br>
</body>
</html>
